@charset "utf-8";

/*css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both;}
html {font-family:'malgun gothic', Arial, sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; font-size:100%;}
body {overflow-x:hidden;min-width:320px; /*-webkit-overflow-scrolling:touch;*/color:#1a1a1a;background:#fff;}
a {background:transparent; text-decoration:none; -webkit-tap-highlight-color:transparent; color:#1a1a1a;}
a:active {outline:0;}
a:active {color:#3990e6;}

audio, canvas, progress, video {display:inline-block; vertical-align:baseline;}
code, kbd, samp {font-family:monospace; font-size:1em}
mark {background:#ff0; color:#1a1a1a;}
dfn {font-style:italic;}
table {border-collapse:collapse; border-spacing:0;}td, th {padding:0;}
ul, ol {list-style:none outside none;}h1, h2, h3,strong {font-weight:600;}

img {vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}

button, input, optgroup, select, textarea {color:inherit; font:inherit; margin:0;}
button {overflow:visible;}
button, select {text-transform:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button; cursor:pointer;}
button[disabled], html input[disabled] {cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
input {line-height:normal;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]
::-webkit-outer-spin-button {height:auto;}
input[type="search"] {-webkit-appearance:textfield; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]
::-webkit-search-decoration {-webkit-appearance:none;}
textarea {overflow:auto; resize:vertical;}
button, input, select, textarea {font-family:'Microsoft YaHei', "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#cccccc;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#cccccc;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#cccccc;}

/*commos
.border-box{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none!important;}
.show{display:block!important;}
.ellipsis {white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break {word-break:break-all; word-wrap:break-word}
.clearfix:after{content:'\0020';display:block;height:0;clear:both}
.clearfix{*zoom:1}*/

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	border:none;
}

/*noScript*/
.noScript {margin:10px;text-align:center;background:#adb9c4;color:#fff;display:block; height:40px;line-height:40px}

/*
    EventStorming2Code
    Stylesheet
    */
#allWrap {
	position:relative;
	width:100%;
	margin:0px auto;
	background-color:#fff;
	overflow:hidden;
	text-align:center;
}
.row {
	clear:both;max-width:1280px;margin:0 auto;padding:0px 20px 0;
}

/* topWrap */
.topWrap {
	position:relative;	
	margin:0 auto;
	width:100%;
	padding:0 0 100px;
	left:0px;
	top:0px;
	background-color:rgba(30,136,229,1);
}
.topWrap .logo_white {
	float:left;
	left:0;top:0;
	margin-top:42px;
	
}
.topWrap .logo_white img {
	width:182px;
	height:67px;
}
.topWrap .txts {
	display:inline-block;
	margin:60px auto 0;
	white-space:nowrap;
	text-align:center;
	font-family:"malgun gothic";
	font-style:normal;
	font-weight:normal;
	color:rgba(250,250,250,1);
	margin-left:-91px;
}
.topWrap .tit {	
	left:0;top:0;
	font-size:2.8125rem;
	
}
.topWrap .tit-sub {
	left:0;top:0;
	margin-top:122px;
	margin-top:8px;
	font-size:1.125rem;
	color:rgba(250,250,250,1);
	letter-spacing:0.1px;
}
.topWrap .btn {
	display:inline-block;
	width:170px;
	line-height:3rem;	
	white-space:nowrap;
	margin-top:45px;
	text-align:center;
	font-family:"malgun gothic";
	font-style:normal;
	font-weight:normal;
	font-size:1rem;
	color:rgba(255,255,255,1);
	border:1px solid #fff;
	border-radius:50px;
	background-color:transparent;
}
.topWrap .by {
	float:right;	
	left:0;
	top:0;	
	white-space:nowrap;
	font-family:"malgun gothic";
	font-style:normal;
	font-weight:normal;
	font-size:1.125rem;
	color:rgba(154,218,255,1);
	margin-top:80px;
}


/* boxWrap */
.boxWrap {
	position:relative;
    float:left;
    width:100%;
    left:0px;
    top:0px;
	padding:0;
	margin:0 auto;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
.boxWrap .boxs {
	float:left;
	/* width:33.33%;*/
	max-width:392px;
	margin-top:-50px;
	padding:1rem;
	margin-right:30px;
	background-color:rgba(255,255,255,1);
}
.boxWrap .boxs:last-child {margin-right:0rem;}
.boxs .box-tit {
    white-space:normal;
    text-align:center;
    font-family:'"G othic A1"';
    font-style:normal;
	font-weight:bold;
	font-size:1.25rem;
	margin-top:15px;
	color:rgba(30,136,229,1);
	letter-spacing:-0.5px;
}
.box-txt {	
	left:0;
	top:0;	
	width:100%;
	/* height:250px; */
	line-height:30px;
	margin-top:50px;
	text-align:left;
	font-family:"malgun gothic";
	font-style:normal;
	font-weight:normal;
	font-size:1rem;
	color:rgba(108, 115, 119, 1);
}
.boxs > img {
	margin-top:50px;
	max-width:100%;
	/* min-height:200px; */
}

.footer {
	position:relative;
	width:100%;
	padding:20px;
	margin:50px auto 0;
	text-align:center;
	background-color:#f5f5f5;
	color:rgba(149, 155, 160, 1);
	font-size:0.875em;
}


/*---------------------- Media Query ----------------------*/
@media only screen and (max-width:1280px){
	.row {
		clear:none;margin:0 auto;padding:20px;
		text-overflow:ellipsis;
		white-space:initial;
		word-wrap:normal;
		/* overflow:hidden; */
	}
	.topWrap {padding:0 0 80px;}
	.topWrap .txts {
		width:100%;
		margin:40px auto 0;
	}
	.topWrap .logo_white {margin-top:15px;}
	.topWrap .by {margin-top:15px;}
	.topWrap .btn {margin-top:25px;}
	
	.boxWrap .boxs {
		max-width:380px;
		margin-right:15px;
		margin-top:10px;
	}
	.boxWrap .box-txt {margin-top:30px;}
}

/* TABLET */
@media only screen and (max-width:1024px){
	.topWrap {padding:0 0 50px;}
	.topWrap .tit {font-size:2rem;}
	.topWrap .tit-sub {font-size:0.875em;}
	
	.boxWrap {
		max-width:1200px;
		/* left:50%;
		margin-left:-600px; */
	}
	
	.boxWrap .row {padding:0}
	.boxWrap .boxs {
		max-width:300px;
		margin-right:15px;
	}

}
@media only screen and (max-width:892px){
	.topWrap {padding:0 0 30px;}
	.topWrap .tit {font-size:2rem;}
	.topWrap .tit-sub {font-size:0.8125rem;}

	.boxWrap {
		width:100%;
		flex-direction:column;
	}
	.boxWrap .boxs {
		max-width:100%;
		margin-right:0;
	}
	.boxs > img {
		margin-top:30px;
		max-width:100%;
	}
}

/* MOBLIE */
@media only screen and (max-width:677px){
	.topWrap .logo_white {margin-top:0px;}
	.topWrap .by {margin-top:15px;}
	.topWrap .btn {margin-top:25px;}
	
	.footer .clear {display:block;}
}
@media only screen and (max-width:375px){
	.topWrap div {width:100%;}
}


